
.special

    display: flex
    justify-content: space-between
    width: 100%
    column-gap: 30px
    margin-bottom: 50px
    &__boxLeft
        display: flex
        height: 250px
        width: 100%
        flex-direction: column
        border: 1px solid black
        padding: 28px 375px 28px 24px
        background-size: 100% 100%  
        background-repeat: no-repeat
        background-image: url(/assets/images/left.png)

    &__boxRight
        display: flex
        height: 250px
        width: 100%
        flex-direction: column
        border: 1px solid black
        padding: 28px 515px 28px 24px
        background-size: 100% 100%
        background-repeat: no-repeat
        background-image: url(/assets/images/right.png)
    &__title
        display: block
        margin-bottom: 22px
        font-size: 22px
        line-height: 27px
        font-weight: 800

    &__text
        display: block
        margin-bottom: 28px
        font-size: 12px
        line-height: 18px
        font-weight: 400

    &__pricebox
        display: flex
        &:last-child

    &__price
        display: block
        margin-right: 10px
        font-size: 18px
        line-height: 21.5px
        color: #7AC751
    &__throuh
        display: block
        font-size: 18px
        line-height: 21.5px
        text-decoration: line-through
        color: #CCCCCC
